        div {
            border: 10px solid rgb(5, 253, 253);
            height: 240px;
            width: 240px;
        }

        .anjali {
            border: 10px solid rgb(247, 111, 7);
            height: 150px;
            width: 150px;
            margin: 30px;
        }
        .new {
            border: 10px solid rgb(114, 187, 4);
            border-radius: 50% ;
            height: 90px;
            width: 90px;
            display: inline-block;
            margin: 20px;
        }